@import 'antd/dist/antd.css';

/* Component specific */
.page-content-container {
  max-width: 1140px;
  margin: 0 auto;
}

.customer-top-menu-container {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #f0f0f0;
}

.customer-top-menu-container .ant-menu-horizontal {
  border: none !important;
}

.image-card-bg-container {
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  display: block;
  padding-bottom: 100%;
  position: relative;
  cursor: pointer;
}
.image-card-title {
  color: black;
}
.image-card-description {
  color: gray;
}

.product-review-container {
  border: 1px solid;
}

.cart-checkout-total {
  font-size: 18px;
  font-weight: bold;
}

.table-img {
  width: 150px;
}

.active-item-container {
  background-color: #fff;
  padding: 12px 24px;
  margin: 10px 0 0 0;
}

@media only screen and (min-width: 1200px) {
  .active-item-container {
    border-left: 10px solid #f0f1f5;
    margin-top: 0;
  }
}

/* Utils */

.primary-text {
  color: black;
}
.secondary-text {
  color: rgba(0, 0, 0, 0.45);
}
.danger-text {
  color: red;
}

.text-center {
  text-align: center;
}

.font-bold {
  font-weight: bold;
}

.cursor-pointer {
  cursor: pointer;
}

.w-100 {
  width: 100%;
}

.d-flex {
  display: flex;
}
.space-between {
  display: flex;
  justify-content: space-between;
}
.align-center {
  display: flex;
  align-items: center;
}
.justify-end {
  display: flex;
  justify-content: flex-end;
}

.p-24 {
  padding: 24px;
}
.py-16 {
  padding: 16px 0;
}
.py-8 {
  padding: 8px 0;
}
.py-4 {
  padding: 4px 0;
}
.px-8 {
  padding: 0 8px;
}
.px-16 {
  padding: 0 16px;
}
.p-16 {
  padding: 16px;
}

.mb-2 {
  margin-bottom: 2px;
}
