@import 'antd/dist/antd.css';

.cursor-pointer {
  cursor: pointer;
}

.space-between {
  display: flex;
  justify-content: space-between;
}

.justify-end {
  display: flex;
  justify-content: flex-end;
}

.p-24 {
  padding: 24px;
}

.py-16 {
  padding: 16px 0;
}
